@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: hsl(0, 0%, 26%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --slight-blue: #091735; */
    --slight-blue: #041231;
    --foreground: #ededed;
  }
}

.blue-gradient-bg {
  @apply bg-gradient-to-bl from-[var(--slight-blue)] via-[var(--background)] to-[var(--slight-blue)] 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* * { */
  /* outline: 1px solid rgb(42, 92, 45) !important; */
/* } */